*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --statsMainColor1: blue;
    --statsMainColor2: green;
    --statsSecondaryColor: gray;
    --statSize: 132px;
    --statWidth: 20px;
}

.bold{
    font-weight: 700;
}

.cursiva{
    font-style: italic;
}

h4{
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

label{
    font-size: 1.1rem;
}

/***********************
CSS DE PANTALLA DE BOTONES
************************/

#btnContainer{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: white;
    border: orange 2px solid;
    border-radius: 20px;
    color: blue;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
}


/***********************
CSS DE PANTALLA DE INFO
************************/
#info{
    width: 100vw;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    & #infoMenu{
        border: blue 1px solid;
        max-width: 500px;
        min-height: 600px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & h2{
            height: 100px;
            padding: 40px;
            color: var(--mainColor);
        }
        & p{
            font-size: 16px;
        }
    }
}

/************************
CSS DE PANTALLA DE STATS
*************************/

#statsResultsH3{
    color: var(--mainColor);
}

.progressbar1:not([role="progressbar1"]){
    color: red;
}

[role="progressbar1"]{

    font-size: 2rem;
    width: var(--statSize);
    aspect-ratio: 1 / 1;
    background: conic-gradient(
        var(--statsMainColor1) var(--progress1, 0),
        var(--statsSecondaryColor) 0
    );
    margin: 2rem auto;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::after{
        content: attr(aria-valuenow) "%";
        background-color: white;
        border-radius: inherit;
        width: calc(100% - var(--statWidth));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    p{
        display: none;
    }
}

.statsTwinTitleContainer{
    display: flex;
    justify-content: space-around;
}

#progressbarContainer{
    display: flex;
    justify-content: space-around;
}

[role="progressbar2"]{

    font-size: 2rem;
    width: var(--statSize);
    aspect-ratio: 1 / 1;
    background: conic-gradient(
        var(--statsMainColor2) var(--progress2, 0),
        var(--statsSecondaryColor) 0
    );
    margin: 2rem auto;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::after{
        content: attr(aria-valuenow2) "%";
        background-color: white;
        border-radius: inherit;
        width: calc(100% - var(--statWidth));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    p{
        display: none;
    }
}