*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --statsMainColor1: blue;
    --statsMainColor2: green;
    --statsSecondaryColor: gray;
    --statSize: 132px;
    --statWidth: 20px;
    --headerRobotHeight: 70px;
    --levelImgsMarginLeftRight: 0;
    --levelImgsMarginTopBottom: 10px;
}

/*****************
*  MEDIA QUERIES *
*****************/
@media (min-width: 1000px) {
    :root{
        --fontSize_Questions: 1.5rem;
        --fontSize_Answers: 1.3rem;
        --headerRobotHeight: 100px;
        --levelImgsMarginLeftRight: 10px;
        --levelImgsMarginTopBottom: 10px;
    }
}
/*********************************************************/

.bold{
    font-weight: 700;
}

.cursiva{
    font-style: italic;
}

header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & #imgBot{
        max-height: var(--headerRobotHeight);

        & img{
            max-height: var(--headerRobotHeight);
        }
    }

    & h1{
        background-color: whit;
        flex-grow: 1;
        text-align: center;

        & #version{
            font-size: 0.75rem;
        }
    }
}

main{
    background-color: whitesmoke;
    display: flex;
    

    & aside{
        background-color: white;
        display: flex;
        flex-direction: column;

        & .imgLevel{
            padding-left: var(--levelImgsMarginLeftRight);
            padding-right: var(--levelImgsMarginLeftRight);
            padding-top: var(--levelImgsMarginTopBottom);
            padding-bottom: var(--levelImgsMarginTopBottom);

            & img{
                height: 50px;
            }
        }
    }

    & article{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-evenly;
        min-height: 400px;
        align-items: center;

        &  #questionContainer{
            padding: 20px;
            border-top: 5px solid blue;
            border-left: 5px solid blue;
            border-radius: 0px 10px 10px 10px;
            background-color: white;
            font-size: var(--fontSize_Questions);
            text-align: center;
            min-width: 80%;
            max-width: 90%;
        }

        & .answerContainer{
            background-color: white;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(21, 68, 255), rgba(255, 255, 255, 0));
            padding: 10px;
            width: 80%;
            text-align: center;
            cursor: pointer;
            font-size: var(--fontSize_Answers);
            color: white;

            & :hover{
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(50, 150, 255, 1), rgba(255, 255, 255, 0));

            }

            & :active{
                /* padding-top: 7px;
                padding-bottom: 7px; */
                border-top: 3px solid rgb(213, 227, 255);
                border-bottom: 3px solid rgb(213, 227, 255);
            }
        }
        & div.incorrectAnswerChosen{
            font-size: var(--fontSize_Answers);
            text-align: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 107, 107), rgba(255, 255, 255, 0));
            padding-top: 7px;
            padding-bottom: 7px;
            width: 90vw;
            cursor: pointer;
            position: relative;
            border-top: 3px solid rgb(213, 227, 255);
            border-bottom: 3px solid rgb(213, 227, 255);
        }
        & div.incorrectAnswer{
            font-size: var(--fontSize_Answers);
            text-align: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 107, 107), rgba(255, 255, 255, 0));
            padding-top: 10px;
            padding-bottom: 10px;
            width: 80vw;
            cursor: pointer;
            position: relative;
        }
        
        & div.correctAnswerChosen{
            font-size: var(--fontSize_Answers);
            text-align: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(112, 255, 107), rgba(255, 255, 255, 0));
            padding-top: 7px;
            padding-bottom: 7px;
            width: 80vw;
            cursor: pointer;
            position: relative;
            border-top: 3px solid rgb(213, 227, 255);
            border-bottom: 3px solid rgb(213, 227, 255);
        }
        & div.correctAnswer{
            font-size: var(--fontSize_Answers);
            text-align: center;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(112, 255, 107), rgba(255, 255, 255, 0));
            padding-top: 10px;
            padding-bottom: 10px;
            width: 80vw;
            cursor: pointer;
            position: relative;
        }

        & #answerFotoContainer{
            & .fotoBox > img{
                height: 115px;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    & div.imgEstrella{

        & img{
            height: 50px;
        }
    }
}

#gameplay{
    width: 0;
    height: 0;
    overflow: hidden;
}

#info{
    width: 100vw;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

    & #infoMenu{
        border: blue 1px solid;
        max-width: 500px;
        min-height: 600px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & h2{
            /*height: 100px;*/
            padding: 20px;
            color: blue;
        }
        & p{
            font-size: 16px;
        }

        

        & #inicio{
            background-color: wuite; /* Green */
            border: orange 2px solid;
            border-radius: 15px;
            color: blue;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            margin: 5px;
        }
    }
}

/* CSS DE PANTALLA LISTENING */

#answerFotoContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    & .fotoBox{
        & img{
            cursor: pointer;
        }
    }
}

.formQBox{
    margin-bottom: 1.5rem;
}

h4{
    text-align: center;
    padding-bottom: 0.5rem;
}

.btn{
    background-color: white; /* Green */
    border: orange 2px solid;
    border-radius: 20px;
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    margin: auto;
}

/************************
CSS DE PANTALLA DE STATS
*************************/

#statsResultsH3{
    color: var(--mainColor);
}

.progressbar1:not([role="progressbar1"]){
    color: red;
}

[role="progressbar1"]{

    font-size: 2rem;
    width: var(--statSize);
    aspect-ratio: 1 / 1;
    background: conic-gradient(
        var(--statsMainColor1) var(--progress1, 0),
        var(--statsSecondaryColor) 0
    );
    margin: 2rem auto;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::after{
        content: attr(aria-valuenow) "%";
        background-color: white;
        border-radius: inherit;
        width: calc(100% - var(--statWidth));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    p{
        display: none;
    }
}

.statsTwinTitleContainer{
    display: flex;
    justify-content: space-around;
}

#progressbarContainer{
    display: flex;
    justify-content: space-around;
}

[role="progressbar2"]{

    font-size: 2rem;
    width: var(--statSize);
    aspect-ratio: 1 / 1;
    background: conic-gradient(
        var(--statsMainColor2) var(--progress2, 0),
        var(--statsSecondaryColor) 0
    );
    margin: 2rem auto;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::after{
        content: attr(aria-valuenow2) "%";
        background-color: white;
        border-radius: inherit;
        width: calc(100% - var(--statWidth));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }

    p{
        display: none;
    }
}

