*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --statsMainColor1: blue;
    --statsMainColor2: green;
    --statsSecondaryColor: gray;
    --statSize: 132px;
    --statWidth: 20px;
    --headerRobotHeight: 70px;
    --levelImgsMarginLeftRight: 0;
    --levelImgsMarginTopBottom: 10px;
}

/*****************
*  MEDIA QUERIES *
*****************/
@media (min-width: 1300px) {
    :root{
        --fontSize_Questions: 1.5rem;
        --fontSize_Answers: 1.3rem;
        --headerRobotHeight: 100px;
        --levelImgsMarginLeftRight: 10px;
        --levelImgsMarginTopBottom: 10px;
    }
}
/*********************************************************/

.bold{
    font-weight: 700;
}

.cursiva{
    font-style: italic;
}

body{
    min-width: 100vw;
    min-height: 100svh;
}

main{
    background-color: whitesmoke;
}

h4{
    text-align: center;
    padding-bottom: 0.5rem;
}

.btn{
    background-color: white; /* Green */
    border: orange 2px solid;
    border-radius: 20px;
    color: blue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    margin: auto;
}

